<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set your password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section class="w-full">
        <div class=" m-auto mt-20 md:w-6/12 w-full p-10">
            <h3 class="font-bold text-2xl mb-2 text-center">Set your password account!</h3>
            <div class="m-auto p-10 shadow-md">
                <form id="form" data-token="<%= token %>">
                    <div class="mt-3">
                        <label>Password</label>
                        <input type="password" name="password" id="password" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 ">
                        <p class="text-sm text-red-600" id="password-error"></p>
                    </div>
                    <div class="mt-5">
                        <label>Confirm password</label>
                        <input type="password" name="password_confirm" id="password-confirm" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                        focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 ">
                        <p class="text-sm text-red-600" id="password-confirm-error"></p>
                    </div>
                    <div class="mt-3">
                        <button class="w-20 bg-black rounded-md text-white p-1 text-sm" >Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
<script>
    const confirmPassword = document.getElementById('password-confirm')
    const confirmPasswordError = document.getElementById('password-confirm-error')
    const form = document.getElementById('form')
    const passwordElement = document.getElementById('password')
    const passwordError = document.getElementById('password-error')
    form.addEventListener('submit', function (e) {
        e.preventDefault();
        const token = e.target.dataset.token
        const password = passwordElement.value
        if(password.length < 8 ) {
            passwordElement.classList.replace('border-slate-300', 'border-red-600')
            passwordElement.classList.replace('focus:border-sky-500', 'focus:border-red-600')
            passwordElement.classList.replace('focus:ring-sky-500', 'focus:ring-red-600')
            passwordError.textContent = 'Password must be at least 8 characters'
            return
        } else{
            passwordElement.classList.replace('border-red-600','border-slate-300')
            passwordElement.classList.replace('focus:border-red-600','focus:border-sky-500')
            passwordElement.classList.replace('focus:ring-red-600','focus:ring-sky-500' )
            passwordError.textContent = ''
        }

        if(confirmPassword.value !== password) {
            confirmPassword.classList.replace('border-slate-300', 'border-red-600')
            confirmPassword.classList.replace('focus:border-sky-500', 'focus:border-red-600')
            confirmPassword.classList.replace('focus:ring-sky-500', 'focus:ring-red-600')
            confirmPasswordError.textContent = 'Password and confirm password not match'
            return
        }else{
            confirmPassword.classList.replace('border-red-600','border-slate-300')
            confirmPassword.classList.replace('focus:border-red-600','focus:border-sky-500')
            confirmPassword.classList.replace('focus:ring-red-600','focus:ring-sky-500' )
            confirmPasswordError.textContent = ''
        }
        
    })  
</script>