<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        a {
            background-color:black;
            padding:10px;
            width: 65px;
            text-align: center;
            border-radius: 5px;
            display: block;
            text-decoration: none;

        }
        h3 {
            font-size: 25px;
        }
        p {
            font-size: 17px;
        }
        section {
            padding: 20px;
            border-radius: 5px;
            width: 50%;
            margin: auto;
        }
    </style>
</head>
<body>    
    <section>
        <h3>Learned</h3>
        <p>Hello <%= name %>, </p>
        <p><%= description %></p>
        <p>Here your link to set your password:</p>
        <a style="color: white;" href="<%= url %>" >LINK</a>
        
    </section>
</body>
</html>